<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: "Mi Web de la 3 y 4" }}</title>
    <header> Encabezado 3 y 4</header>
</head>
<body>
    <div class="topnav">
      <a href="/iclude/1.html">Primera pagina</a>
      <a href="/iclude/2.html">Segunda Pagina</a>
      <a href="/iclude/3.html">Tercera pagina</a>
      <a href="/iclude/4.html">Cuarta pagina</a>
    </div>
    <div class="main">
        {{ content }}
    </div>
    <div class="footer">
        
    </div>
</body>
</html>